@model IEnumerable<msac_tpa.DAL.Entities.Sportman>

@{
    ViewData["Title"] = @Resources.Title.Sportsmen;
}

<h1>@Resources.Title.Sportsmen</h1>
<hr />
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label right_20">@Resources.Models.Surname: </label>
         @Html.TextBox("surname", "", new { @class = "form-control right_20" })
        <label class="control-label right_20">@Resources.Models.Region: </label>
        @Html.DropDownList("region", @ViewBag.Regions as SelectList, new { @class = "form-control right_20" })
        <input type="submit" value="@Resources.Actions.Filter" class="btn btn-primary" />
    </div>
</form>
<hr />
<p>
    <a asp-action="Create" >@Resources.Actions.AddSportsman</a>
</p>
<table class="table top_40">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvatarFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @{ var source = !string.IsNullOrEmpty(@item.AvatarFilePath) ? $"/images/sportmen/{item.AvatarFilePath}" : "/images/noPhoto.jpg";}
            <img src="@source" style="height: 40px;width: 40px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.BirthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">@Resources.Actions.Details</a> |
            <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Actions.Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Actions.Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
