@model msac_tpa_new.Entities.Authentication.User

@{
    ViewData["Title"] = @Resources.Actions.Edit;
}

<h1 class="title">@Resources.Actions.Edit</h1>

<h4 class="top_20">@Resources.Title.Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label value="@Resources.Spans.NewPassport" class="control-label"></label>
                <input name="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.Roles"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <select asp-for="RegionId" class="form-control" asp-items="@ViewBag.Regions"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Actions.Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Spans.BackToList</a>
</div>

