@model msac_tpa_new.Entities.Comission

@{
    ViewData["Title"] = @Resources.Actions.Delete;
}

<h1 class="title">@Resources.Actions.Delete</h1>

<h3>@Resources.Spans.AreYouSureToDel</h3>
<div>
    <h4>@Resources.Title.Comission</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.Region.Name</label>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SportmanComissions)
        </dt>
        <dd class="col-sm-10 sportmenlist">
            <ul>
                @foreach (var member in ViewBag.ComissionMembers)
                {
                <li>
                    @{ var source = !string.IsNullOrEmpty(member.AvatarFilePath) ? $"/images/sportmen/{member.AvatarFilePath}" : "/images/noPhoto.jpg";}
                    <img src="@source" style="height: 70px; width: 70px;" />
                    @member.Fullname (@member.Region.Name)
                </li>
                }
            </ul>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.Actions.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.Spans.BackToList</a>
    </form>
</div>
